body {
    padding-top: 10px;
}

.index_links {
  text-align: center;
}

.index_link, .index_link a {
  color: black;
  font-size: 40px;
  font-weight: bold;
}


.header_links, .header_links a {
  color: black;
  font-size: 25px;
}
