snippet %% "import" b
<%% import "${1}" %%>
${3}
endsnippet

snippet %! "func header" b
<%! func ${1}(w io.Writer${2}) error %>
${3}
endsnippet

snippet % "Tag" b
<% ${1} %>
endsnippet

snippet for "For loop" b
<% for ${1} := range ${2} { %>
  ${3}
<% } %>
endsnippet

snippet if "if statement" b
<% if ${1} { %>
  ${2}
<% } %>
endsnippet
