snippet i "it {}"
it { ${0} }
endsnippet

snippet si "Should Include"
should include(${1})
endsnippet

snippet ex "Expected" b
expect(${1}).to ${2}
endsnippet

snippet mt "MiniTest Test tpl"
require 'test/test_helper'
require 'client'

class Test${1} < Minitest::Test
  def test_${2}
		${0}
	end
end
endsnippet

snippet ae "assert_euqual" b
assert_equal ${1}, ${2}
endsnippet
