[Unit]
Description = MySQL
Requires=network.target
After=network.target

[Service]
ExecStartPre=-/bin/mkdir -p /var/run/mysqld /opt/rkt/mysql
ExecStartPre=-/bin/chown 999 /var/run/mysqld
ExecStartPre=/usr/local/bin/rkt fetch --insecure-skip-verify docker://mysql:5.6.27
ExecStart=/usr/local/bin/rkt run --set-env=MYSQL_ALLOW_EMPTY_PASSWORD=true --volume volume-var-lib-mysql,kind=host,source=/opt/rkt/mysql --volume socket,kind=host,source=/var/run/mysqld --mount=volume=socket,target=/run/mysqld --insecure-skip-verify docker://mysql:5.6.27

[Install]
WantedBy=multi-user.target
