[Unit]
Description = MariaDB
Requires=network.target
After=network.target

[Service]
ExecStartPre=-/bin/mkdir -p /var/run/mysqld /opt/rkt/mysql
ExecStartPre=-/bin/chown 999 /var/run/mysqld
ExecStartPre=/opt/rkt/rkt fetch --insecure-options=image docker://mariadb:10.1.14
ExecStart=/opt/rkt/rkt run --set-env=MYSQL_ALLOW_EMPTY_PASSWORD=true --volume volume-var-lib-mysql,kind=host,source=/opt/rkt/mysql --volume socket,kind=host,source=/var/run/mysqld --mount=volume=socket,target=/run/mysqld docker://mariadb:10.1.14

[Install]
WantedBy=multi-user.target
