[Unit]
Description=Redis
After=network.target
Requires=network.target

[Service]
ExecStartPre=-/bin/mkdir -p /opt/rkt/redis
ExecStartPre=/usr/local/bin/rkt fetch docker://redis:3.0.5
ExecStart=/usr/local/bin/rkt run --net=host --volume volume-data,kind=host,source=/opt/rkt/redis --insecure-skip-verify docker://redis:3.0.5

[Install]
WantedBy=multi-user.target
